.frameworks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    mix-blend-mode: difference;
}

.skill {
    background-color: rgba(var(--foreground-rgb), 0.03);
    border-radius: 10px;
    padding: 0.5rem;

    margin-top: 0.25rem;
    margin-right: 0.25rem;
}

.select {
    background-color: rgba(var(--foreground-rgb), 1);
    color: rgba(var(--background-rgb), 1)
}