.cursorparent {
    position: absolute;
    z-index: 10000;
    left: -7.5px;
    top: -7.5px;
    pointer-events: none;
}

.cursordot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(var(--foreground-rgb));
    mix-blend-mode: difference;
    opacity: 100%;
}