@font-face {
    font-family: NeueMontreal;
    src: 
        url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

.text {
    font-size: 50px;
    font-family: NeueMontreal;
}

.container {
    background-color: transparent;
}