.layout {
    position: relative;

    width: 80vw;
    max-width: 1280px;
    display: flex;

    /*padding: calc(6.66667vh - .5vw) 3.3333333333vw 0;*/

    margin-left: auto;
    margin-right: auto;

    padding-left: 8vw;
    padding-right: 8vw;
  
    height: 20vw;
    user-select: none;

    justify-content: center;
    gap: 1%;
}

.flexcolumn {
    width: 48%;

    padding-top: 6rem;
    padding-bottom: 6rem;
  
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    max-height: 100vw;
    
    /*position: sticky;*/
}

@media (max-width: 1200px){
    .layout {
        display: block;
    }

    .flexcolumn {
        width: 100%;
    }
}