@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NeueMontrealThin;
  src: 
      url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: NeueMontrealBook;
  src: 
      url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: NeueMontrealMedium;
  src: 
      url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-style: normal;
  font-display: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --foreground-rgb-darker: 174, 179, 180;
    --grey-out: 124, 129, 130;
    --background-rgb: 21, 21, 21;
    --background-rgb-start: 0, 0, 0;
    --accent: 245, 215, 66;
  }
}

:root {
  --foreground-rgb: 214, 219, 220;
  --foreground-rgb-darker: 174, 179, 180;
  --grey-out: 124, 129, 130;
  --background-rgb: 21, 21, 21;
  --background-rgb-start: 0, 0, 0;
  --accent: 245, 215, 66;
}

/*
:root {
  --foreground-rgb: 29, 29, 29;
  --background-rgb: 214, 219, 220;
  --background-rgb-start: 255, 255, 255;
}
*/

/*test theme*/
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 29, 29, 29;
    --background-rgb: 214, 219, 220;
    --background-rgb-start: 255, 255, 255;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb-start));
  
  cursor: none; /* Hide the default cursor */
  user-select: none;
  overflow-x: hidden;
  
  scroll-behavior: smooth;
}


:any-link{
  cursor: none;
}

::selection {
  background-color: rgb(var(--background-rgb));
  /*
  background-blend-mode: difference;
  */
}

::-webkit-scrollbar {
  display: none;
  /*
  width: 5px;
  background-color: transparent;
  */
}

::-webkit-scrollbar-track {
  display: none;
}
