.layout {
    position: relative;

    width: 100vw;
    max-width: 1350px;
    display: flex;

    /*padding: calc(6.66667vh - .5vw) 3.3333333333vw 0;*/

    margin-left: auto;
    margin-right: auto;

    padding-left: 8vw;
    padding-right: 8vw;
  
    user-select: none;

    justify-content: center;
    gap: 2%;
}

.flexcolumn {
    float: left;

    width: 50%;
    height: max-content;

    padding-top: 6rem;
    padding-bottom: 6rem;
  
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /*max-height: 100vw;*/
    
    /*position: sticky;*/
}

@media (max-width: 1150px){
    .layout {
        display: block;
    }

    .flexcolumn {
        width: 100%;
        padding-bottom: 0;
        padding-top: 3rem;
    }
}