@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-rgb: 29, 29, 29;
    --background-rgb-start: 0, 0, 0;
  }
}

:root {
  --foreground-rgb: 214, 219, 220;
  --background-rgb: 29, 29, 29;
  --background-rgb-start: 0, 0, 0;
}

/*
:root {
  --foreground-rgb: 29, 29, 29;
  --background-rgb: 214, 219, 220;
  --background-rgb-start: 255, 255, 255;
}
*/

/*test theme*/
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 29, 29, 29;
    --background-rgb: 214, 219, 220;
    --background-rgb-start: 255, 255, 255;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb-start));
  overflow: hidden;
  cursor: none; /* Hide the default cursor */
  user-select: none;
}

.layout {
  user-select: none;
  position: relative;
  width: 50%;
  /*padding: calc(6.66667vh - .5vw) 3.3333333333vw 0;*/
  left: 25%;
  top: 20vh;
  padding-right: 0;
}

.bg {
  top: 0;
  z-index: -1;
  position: absolute;
}


::selection {
  background-color: rgb(var(--background-rgb));
  background-blend-mode: difference;
}
