@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-rgb: 29, 29, 29;
    --background-rgb-start: 0, 0, 0;
  }
}

:root {
  --foreground-rgb: 214, 219, 220;
  --background-rgb: 29, 29, 29;
  --background-rgb-start: 0, 0, 0;
}

/*
:root {
  --foreground-rgb: 29, 29, 29;
  --background-rgb: 214, 219, 220;
  --background-rgb-start: 255, 255, 255;
}
*/

/*test theme*/
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 29, 29, 29;
    --background-rgb: 214, 219, 220;
    --background-rgb-start: 255, 255, 255;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb-start));
  cursor: none; /* Hide the default cursor */
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.layout {
  user-select: none;
  position: relative;
  width: 80%;
  /*padding: calc(6.66667vh - .5vw) 3.3333333333vw 0;*/
  margin-left: 20vw;
  height: 200vh;
}

.bg {
  top: 0;
  z-index: -1;
  position: fixed;
}


::selection {
  background-color: rgb(var(--background-rgb));
  background-blend-mode: difference;
}

::-webkit-scrollbar {
  display: none;
}
