.column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;

    width: 100%;

    height: auto;
    
    list-style-type: none;
}

.card {
    width: 100%;
    display: grid;

    user-select: text;
    background-color: transparent;
    mix-blend-mode: difference;
    padding-bottom: 2vh;

    transition: opacity .2s ease-out;

    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
}

.card .date {
    grid-column: 1 / 4;
    grid-row: 1;
}

.card .body {
    grid-column: 3 / 9;
    grid-row: 1 / 4;
}

.card .title {
    font-family: NeueMontrealBook;
    font-weight: 200%;
    font-size: 18px;
    color: white;
}

.card .description{
    font-family: NeueMontrealBook;
    font-size: 16px;
    color: rgb(var(--foreground-rgb-darker));
}

.column:hover .card {
    opacity: .25;
}

.column .card:hover {
    opacity: 1;
}