.loading {
    width: 30vw;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;

    width: 100%;

    height: auto;
    
    list-style-type: none;
}

.column:hover .card {
    opacity: .25;
}

.column .card:hover {
    opacity: 1;
}