.loading {
    width: 30vw;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;

    width: 100%;

    height: auto;
    
    list-style-type: none;
}

.card {
    width: 100%;
    display: grid;

    user-select: text;
    background-color: transparent;
    mix-blend-mode: difference;
    transition: opacity .2s ease-out;

    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;

    padding-bottom: 0rem;
    border-radius: 0.25rem;
}

.card:hover {
    background-color: rgba(var(--foreground-rgb), 0.05);
}




.card .date {
    padding: 1rem 1rem;
    font-family: NeueMontrealBook;
    grid-column: 1 / 4;
    grid-row: 1;
    color: rgb(var(--grey-out));
}

.card .body {
    margin-right: 1rem;
    grid-column: 3 / 9;
    grid-row: 1 / 4;
    padding: 1rem 0rem;
}

.card .title {
    font-family: NeueMontrealBook;
    font-size: 1.2rem;
    color: white;
    padding-bottom: 0.5rem;

    display: flex;
    align-items: center;
}

.card .icon {
    opacity: 0;
    transition: opacity .2s ease-out;

    padding-left: 0.5rem;
    height: 100%;
}

.title:hover .icon {
    opacity: 1;
}

.card .description{
    font-family: NeueMontrealBook;
    font-size: 1rem;
    color: rgb(var(--foreground-rgb-darker));
}





.column:hover .card {
    opacity: .25;
}

.column .card:hover {
    opacity: 1;
}